<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sentaroh.android.ZipUtility3">

    <!--<uses-sdk android:targetSdkVersion="22" />-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/zip_utility"
        android:label="@string/app_name"
        android:foregroundServiceType="dataSync|location"
        android:theme="@style/Main" >
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/zip" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivitySettings"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:icon="@drawable/zip_utility">
        </activity>
        <!-- android:noHistory="true"  -->

        <receiver
            android:name=".ZipReceiver"
            android:label="ZipReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED"></action>
                <data android:scheme="file" />

                <action android:name="android.intent.action.MEDIA_EJECT"></action>
                <data android:scheme="file" />

                <action android:name="android.intent.action.MEDIA_REMOVED"></action>
                <data android:scheme="file" />

                <action android:name="android.intent.action.MEDIA_UNMOUNTED"></action>
                <data android:scheme="file" />

            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>

        </receiver>

        <service android:name=".ZipService"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>

    </application>

</manifest>
